table.tbl1 {
    border: 1px solid red;
}

td#td1 {
    border: 2px solid blue;
}

table.tbl2 {
    border: 1px solid green;
    width: 500px;
}

td.gr, td#gr1 {
    border: 1px solid green;
    text-align: center;
}
